---
layout: default
---

<div class="home">

  <h1 class="page-heading">Home</h1>

  <p>Hi, My name is Thomas. I’m a software engineer, generally veer towards more “Fullstack” but that’s just because I’m a tinkerer
    and I like puzzles, so I enjoy diving into all aspects of software development and design.</p>

  <h3 id="current-tech-stack">Current tech stack</h3>
  <p>Currently, I find myself mostly using Typescript for as much as I can and a little Rust (very new to me) and C++ (still learning) for more experimental things or
    parts that need the extra performance.</p>

  <h4 id="languages">Languages</h4>
  <ul>
    <li>Typescript</li>
    <li>Python</li>
    <li>Rust</li>
    <li>C++</li>
  </ul>

  <h4 id="frameworks">Frameworks</h4>
  <ul>
    <li>NodeJS</li>
    <li>Express</li>
    <li>NextJS (briefly)</li>
    <li>Django</li>
    <li>Flask/Quart</li>
    <li>Tauri (for Rust GUIs)</li>
  </ul>

  <h3 id="areas-of-interest">Areas of interest</h3>

  <h4 id="cryptography">Cryptography</h4>
  <p>While not a mathematician, I am fascinated by cryptography and it’s applications. I’ve had to implement improved cryptography at
    previous places and this just highlighted to me how much of a problem it is just trying to find what the best current approach
    is within a given language/framework, especially Rust and Typescript.</p>

  <p>So, I’ve spent a lot of time trying to find the best and easiest ways to add good cryptographic practices to applications that don’t
    need a mathematics degree. I also document these finds and try to create easy-to-use and follow apps so others can add it easily as well.</p>

  <p>Related repos:</p>
  <ul>
    <li><a href="https://gitlab.com/Vapourisation/node_crypto">Node Crypto</a></li>
    <li><a href="https://gitlab.com/Vapourisation/pass_gen">passgen</a></li>
  </ul>

  <h4 id="steganography">Steganography</h4>
  <p>Somewhat leading on from the previous area is steganography. A very niche (but I feel underrated) tool that I think will only become
    more important as time goes on, especially with the rise of AI in image and video creation. Being able to invisibly embed, track
    and <em>verify</em> asset data is already looking to be a huge problem. Some simple steganographic techniques can go a long way to
    many of the concerns.</p>

  <p>I have working implementations of PNG, JPEG and PDF steganography that has proven generally resilient to manipulation and tampering, but
    my next target is video files. Other image formats can follow but with PNGs and JPEGs, that is going to be around 80% of web based images.</p>

  <p>Related repos:</p>
  <ul>
    <li><a href="https://gitlab.com/Vapourisation/steganography_cpp">C++ Steganography library</a></li>
    <li><a href="https://gitlab.com/Vapourisation/steganography_node">Typescript Node app using the above library</a></li>
  </ul>

  <h3 id="all-repos">All repos</h3>

  <h3 id="where-you-can-find-me">Where you can find me</h3>
  <ul>
    <li><a href="https://fosstodon.org/@Vapourisation">Mastodon</a></li>
    <li><a href="https://tpegler.hashnode.dev/">Hashnode</a></li>
    <li><a href="https://gitlab.com/Vapourisation">Gitlab</a></li>
  </ul>

</div>
